# -------------------------
# Python
# -------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.pkl

# Virtual environment
venv/
env/
.venv/

# Pipenv
Pipfile.lock

# Poetry
poetry.lock

# -------------------------
# FastAPI / Uvicorn
# -------------------------
*.log

# -------------------------
# Environment variables
# -------------------------
.env
.env.*
!.env.example

# -------------------------
# IDE / Editor files
# -------------------------
.vscode/
.idea/
*.iml

# -------------------------
# OS files
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# Docker
# -------------------------
